/*
Name: Mohmmadazhar Khalifa
Date: 09/30/2021
Hw #2
Purpose: To edit the css file only and replicate the given website

*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: url("ptrbackground.jpg");
	background-color: #00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 600px;
	margin-left: 10%;
	margin-right: 10%;
	align-self: center;

}

div {
color: #666666;
}

nav ul {
	font-size: 1.2em;
	height: 100%;
	width: 110px;

	margin-top: 10px;
	float: left;
	font-weight: bold;
	padding-right: 10px;
	margin-left: 0;
}

#wrapper {
	background-color: lightblue;
}

p {
	background-color: white;
	display: block;
	/*margin-left: 0;
	margin-top: auto;*/
	padding-top: 10px;
	margin-top: 0;
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-left: 160px;
	padding-right: 5px;
}


nav li{
	list-style-type: none;

}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}

a {
	color: darkblue;
	text-decoration: none;
}

h1 {
	text-align: left;
	font-family: serif;
	margin-bottom: 0;
	padding: 10px;
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-color: #000230;
	background-position: right;
	padding-left: 10px;
	color: white;

}

/*h1,what is this */

img {
	float: left;
	width: 300px;
	padding-right: 30px;
	background-color: white;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 30px;
}

#content ul {
	list-style-image: url(marker.gif);
	margin-left: 160px;
	margin-bottom: 20px;
	margin-right: 0;
	background-color: white;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 80px;
}

.resort {
	color: #3399CC;
	font-weight: bold;
}

h2 {
	color: #3399CC;
	font-family: Georgia, "Times New Roman", serif;
	/*padding-left: 25%;*/
	background-color: white;
	padding-top: 10px;
	margin-top: 0;
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-left: 160px;
	padding-left: 30px;
}

#contact {
	font-size: 90%;
	background-color: white;
	margin-left: 160px;

	margin-top: 0;
	padding-left: 30px;
	padding-top: 20px;
}

dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	background-color: white;
	padding: 20px;
	padding-top: 40px;
	margin-left: 160px;
}
